* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Carlito', sans-serif;
    background-color: #313131;
    overflow-x: hidden;
}

.navbar {
    margin: 25px 70px 15px 60px;
}

.header {
    font-family: 'Crimson Text', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    height: 81.5px;
    width: 144px;
    margin-top: 10px;
}

nav ul {
    display: flex;
    gap: 80px;
}

nav ul li a {
    color: #FCF0D6;
    font-size: 25px;
}

.active {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;   
    text-underline-offset: 8px; 
}

.star {
    position: absolute;
    color: #FCF0D6;
    margin-top: 30px;
    margin-left: 18px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.content a {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    width: 110px;
    font-size: 20px;
}

.content .s:hover {
    background-color: #93C4A6; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content .r:hover {
    background-color: #FFD000; 
}

.content .b:hover {
    background-color: #F68CD2; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown:hover .content {
    background-color: #FCF0D6; 
    display: block;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 730px;
}

.container .Jerry {
    position: absolute;
    width: 530px; 
    height: 130px; 
    top: 200px;
}

.container .portfolio {
    width: 750px;
}

.container p {
    position: absolute;
    color: #FCF0D6;
    font-size: 60px;
    font-weight: 800;
    top: 570px;
}

.container .scribble {
    position: absolute;
    top: 525px;
}

.container2 {
    font-family: 'Carlito', sans-serif;
    background-color: #FCF0D6;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.container3 {
    background-color: #313131;
    height: 1555px;

    background-image: url(images/Hello.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center -150px;
}

.container3 h1{
    color: #FCF0D6;
    font-size: 200px;
    font-weight: 400;
    margin-left: 75px;
    margin-top: 150px;
}

.container3 p {
    color: #FCF0D6;
    font-size: 30px;
    width: 500px;
}

.container3 div {
    margin-left: 430px;
    margin-top: 50px;
}

.funfacts {
    display: inline-block;
    background-color: #FCF0D6;
    color: #313131;
    box-shadow: 7px 7px #595959;
    padding: 10px 60px 10px 60px;
    width: 146px;
    font-size: 50px;
    font-weight: 700;
    border-style: none;
    border-radius: 50px; 
    white-space: nowrap;     
    width: fit-content; 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.funfacts:hover {
  transform: scale(1.1);
}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 980px;
    background-color: #FCF0D6;

    background-image: url(images/spark.png);
    background-repeat: no-repeat; 
    background-position: center;
}

.container4 h1 {
    color: #313131;
    margin-top: 60px;
    margin-left: 40px;
    font-size: 110px;
}

.container5 {
    height: 1200px;
    background-color: #FCF0D6;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-image: url(images/homeSUSB.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}

.container5 div {
    margin-left: 60px;
}

.container5 h1 {
    color: #313131;
    font-size: 78px;
}

.container5 p {
    margin-left: 70px;
    color: #313131;
    font-size: 30px;
    font-weight: 500;
}

.container5 span {
    font-size: 35px;
    color: #568366;
}

.container5 .p2 {
    margin-top: 10px;
    margin-left: 30px;
    width: 520px;
    color: #313131;
    font-size: 30px;
    font-weight: 500;
}

.container5 .SUSB {
    margin-top: 165px;
    margin-right: 50px;
    height: 580px;
    width: 1100px;
    object-fit: cover;
    object-position: center 0%;
}

.container5 div div {
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 300px;
}

.view {
    display: inline-block;
    background-color: #EBCAE8;
    color: #313131;
    box-shadow: 7px 7px #568366;
    padding: 20px 40px 20px 40px;
    width: 146px;
    font-size: 30px;
    font-weight: 700;
    border-style: solid;
    border-width: 7px;
    border-color: #313131;
    border-radius: 50px; 
    white-space: nowrap;     
    width: fit-content; 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.view:hover {
  transform: scale(1.1);
}

.container6 {
    background-color: #FCF0D6;
    padding: 150px 0 130px 0;
}

.container6 .back {
    height: 1480px;
    background-color: #FCF0D6;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-image: url(images/homeReel.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}

.container6 .msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 125px;
    margin-bottom: 90px;
}

.container6 h1 {
    color: #313131;
    -webkit-text-stroke: 2px #FCF0D6;
    font-size: 75px;
    font-weight: 900;
}

.container6 h2 {
    color: #FCF0D6;
    font-size: 42.5px;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;   
    text-underline-offset: 8px; 
}

.container6 p {
    margin-top: 30px;
    text-align: right;
    color: #FCF0D6;
    width: 650px;
    font-size: 32px;
    font-weight: 300;
}

.container7 {
    background-color: #FCF0D6;
    padding: 100px 0 100px 0;
    height: 1350px;
    background-color: #FCF0D6;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-image: url(images/homeBinge.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}

.container7 div {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 600px;
    gap: 10px;
}

.container7 h1 {
    font-size: 90px;
    font-weight: 900;
}

.container7 h2 {
    font-size: 42.5px;
    font-weight: 300;
}

.container7 p {
    font-size: 32px;
}